{% extends "base.html" %}

{% block content %}
{% for article in (articles_page.object_list if articles_page else articles) %}
<section>
  <p>
    <span class="categories-timestamp"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
    {% if article.subtitle %} <a href="{{ SITEURL }}/{{ article.url }}">{{ article.subtitle }}</a>{% endif %}
  </p>
  <h4>
    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
  </h4>
  {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
  <div class="well well-sm">

    {% include "includes/article_info.html" %}

  </div>
  {% endif %}
  <div class="summary">
    {{ article.summary }}
    {% include 'includes/comment_count.html' %}
    (<a href="{{ SITEURL }}/{{ article.url }}">more</a>)
  </div>
</section>
{% if not loop.last %}
<hr />
{% endif %}

{% endfor %}
{% include 'includes/pagination.html' %}
{% endblock %}
